* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --dc-primary: #0282f9;
  --dc-dark: #1c1c1c;
  --dc-light: #ffffff;
  --dc-light-dark: #6e6c68;
  --dc-subtitle: #7e7d72;
}

/*Utilities*/

.unstyled-list {
  list-style: none;
}

.container {
  padding: 4rem 0;
  width: 75%;
  margin: auto;
}

.d-flex {
  display: flex;
}
/*Header*/

header {
  .logo {
    padding: 1rem 0;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul {
    display: flex;
    gap: 2rem;

    a {
      padding: 3rem 0;
      text-decoration: none;
      color: var(--dc-light-dark);
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 5px solid var(--dc-light);
      &:hover {
        border-bottom: 5px solid var(--dc-primary);
        color: var(--dc-primary);
      }
    }
  }
}

/*Main*/

/*Content section*/
main {
  background-color: var(--dc-dark);
  h1 {
    color: var(--dc-light);
  }
}

/*Features section*/
.features_container {
  background-color: var(--dc-primary);
  padding: 1rem 0;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      color: var(--dc-light);
      text-transform: uppercase;
      align-items: center;
      gap: 0.5rem;
      .img_container {
        display: inline-block;
        width: 50px;
        height: 55px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
