* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --dc-primary: #0282f9;
  --dc-dark: #1c1c1c;
  --dc-light: #ffffff;
  --dc-light-dark: #6e6c68;
  --dc-subtitle: #7e7d72;
}

/*Utilities*/

.unstyled-list {
  list-style: none;
}

.container {
  padding: 4rem 0;
  width: 75%;
  margin: auto;
}

.d-flex {
  display: flex;
}

.col-2 {
  width: calc(100% / 12 * 2);
  padding: 1.5rem;
  flex-wrap: wrap;
}

.col-7 {
  width: calc(100% / 12 * 6);
  padding: 1rem;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

/*Header*/

header {
  .logo {
    padding: 1rem 0;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul {
    display: flex;
    gap: 2rem;
    a {
      padding: 3.35rem 0;
      text-decoration: none;
      color: var(--dc-light-dark);
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 5px solid var(--dc-light);
      &:hover {
        border-bottom: 5px solid var(--dc-primary);
        color: var(--dc-primary);
      }
    }
  }
}

/*Main*/
main {
  background-color: var(--dc-dark);
}
/*Jumbotron*/
.jumbotron {
  background-image: url("/jumbotron.jpg");
  background-size: cover;
  height: 400px;
}
/*Content section*/
.comicsContainer {
  padding: 2rem 0rem;
  background-color: var(--dc-dark);
  width: 75%;
  margin: auto;
  .badge {
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--dc-primary);
    color: var(--dc-light);
    position: absolute;
    font-weight: 750;
    transform: translateX(-50%) translateY(-50%);
    left: 20%;
    top: 59.3%;
  }
  .searchBar {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 80%;
    top: 59.3%;
    input {
      border-radius: 10px;
      border: 4px solid var(--dc-primary);
      padding: 0.5rem;
      &:focus {
        outline: none;
      }
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    .card_header {
      width: 185px;
      height: 185px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    span {
      color: var(--dc-light);
      text-transform: uppercase;
    }
  }
  .moreBtn {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    font-weight: 750;
    padding: 0.5rem 3.5rem;
    background-color: var(--dc-primary);
    color: var(--dc-light);
    text-transform: uppercase;
    &:hover {
      filter: brightness(120%);
      cursor: pointer;
    }
  }
}

/*Features section*/
.features_container {
  background-color: var(--dc-primary);
  padding: 0.5rem 0;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      color: var(--dc-light);
      text-transform: uppercase;
      align-items: center;
      gap: 0.5rem;
      .img_container {
        display: inline-block;
        width: 50px;
        height: 55px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/*Footer*/
footer {
  .upper_footer_container {
    padding: 1rem 0rem;
    background-image: url("/dc-logo-bg.png"), url("/footer-bg.jpg");
    background-position: 80%, 50%;
    background-repeat: no-repeat;
    background-size: 650px, cover;
    .upper_footer {
      width: 75%;
      margin: auto;
      flex-basis: auto;
      .useful-links-list {
        h3 {
          color: var(--dc-light);
          margin: 1rem 0rem 2rem 0rem;
        }
        li {
          margin: 0.5rem 0rem;
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: var(--dc-subtitle);
            &:hover {
              filter: brightness(200%);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .lower_footer_container {
    background-color: var(--dc-dark);
    .lower_footer {
      width: 75%;
      margin: auto;
      justify-content: space-around;
      padding: 2rem 0;
      .btn {
        border: 2px solid var(--dc-primary);
        padding: 1rem;
        text-transform: uppercase;
        &:hover {
          background-color: var(--dc-primary);
          transition: 200ms;
          scale: 1.1;
        }
        a {
          text-decoration: none;
          color: var(--dc-light);
          font-weight: 600;
        }
      }
      .socials {
        align-items: center;
        gap: 1rem;
        h3 {
          text-transform: uppercase;
          text-wrap: nowrap;
          color: var(--dc-primary);
          a {
            text-decoration: none;
            color: var(--dc-primary);
          }
        }
      }
    }
  }
}
